@import './config.scss';
.about {
  padding-top: 150px;
  padding-bottom: 150px;
  .capt {
    width:75%;
    margin-left: 12.5%;
    font-weight: 500;
    font-size: 62px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #000000;
  }
  .span-panel{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas:  'a a . . b b b .'
                          'a a . . b b b .'
                          'a a . c c c c c'
                          'a a . c c c c c'
                          'd d . c c c c c'
                          'd d . c c c c c'
                          'd d . c c c c c';
    grid-auto-rows: 100px;
    grid-gap: 30px;
    grid-auto-flow: dense;
    .panel-desc-top, .panel-desc-bottom {
      .title{
        display: flex;
        font-style: italic;
        font-weight: 600;
        font-size: 22px;
        line-height: 143%;
        letter-spacing: -0.025em;
        color: #5A368D;
      }
      .title::before{
        height: 3px;
        display: flex;
        position: relative;
        top: 0.7em;
        width: 30px;
        background: #5A368D;;
        content: '';
        margin-right: 15px;
      }
      .desc{
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        /* or 29px */
        letter-spacing: -0.015em;
      
        color: #5E6A8B;
      }
      .know-more {
        display: flex;
        font-weight: 600;
        font-size: 20px;
        line-height: 90%;
        color: #7C24F8;
        text-shadow: 0px 1px 10px rgba(90, 54, 141, 0.2);
        margin-top: 30px;
        background-color: transparent;
        &::before {
          content: "\2192";
          margin-right: 15px;
          font-family: monospace;
          font-size: 40px;
          margin-top: -2px;
        }
      }
    }
    .panel-desc-top {
      grid-area: b;
    }
    .panel-desc-bottom {
      grid-area: d;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }
    .panel-img-top, .panel-img-bottom {
      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .panel-img-top {
      grid-area: a;
    }
    .panel-img-bottom {
      grid-area: c;
    }
  }
}

@media screen and (max-width: $small) {
  .about .capt {
    margin-left: 0;
    font-size: 46px;
  }
  .about .span-panel {
    margin-top: 75px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  'a a'
                          'b b'
                          'c c'
                          'd d';
    grid-auto-rows: 320px 310px 200px 310px;
    .panel-img-top {
      margin-left: 45px;
      margin-right: -20px;
      height: 320px;
    }
    .panel-img-bottom {
      margin-left: -20px;
      height: 200px;
    }
    .panel-desc-top {
      margin-left: 45px;
      height: 310px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .panel-desc-bottom {
      height: 310px;
      align-items: center;
    }                     
  }
}
