@import "./config.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: Work Sans;
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
}

.App {
  background-color: $back-main;
}

.container {
  width: 84%;
  max-width: 1200px;
  margin:0 auto;
}

.row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.column-wrap {
  display: flex;
  flex-flow: column wrap;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.h-align
{
  margin: 0 auto;
}

.v-align
{
  margin: auto 0;
}

.w-6{
  float: left;
  width: 50%;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row: auto;
  grid-gap: 30px;
}

.wg{
  grid-column: var(--grid-col-start) / var(--grid-col-end);
}

.hg{
  grid-row: var(--grid-row-start) / var(--grid-row-end);
}

.wgs-1 { --grid-col-start: 1; }
.wgs-2 { --grid-col-start: 2; }
.wgs-3 { --grid-col-start: 3; }
.wgs-4 { --grid-col-start: 4; }
.wgs-5 { --grid-col-start: 5; }
.wgs-6 { --grid-col-start: 6; }
.wgs-7 { --grid-col-start: 7; }
.wgs-8 { --grid-col-start: 8; }
.wgs-9 { --grid-col-start: 9; }
.hgs-1 { --grid-row-start: 1; }
.hgs-2 { --grid-row-start: 2; }
.hgs-3 { --grid-row-start: 3; }
.wge-1 { --grid-col-end: 1; }
.wge-2 { --grid-col-end: 2; }
.wge-3 { --grid-col-end: 3; }
.wge-4 { --grid-col-end: 4; }
.wge-5 { --grid-col-end: 5; }
.wge-6 { --grid-col-end: 6; }
.wge-7 { --grid-col-end: 7; }
.wge-8 { --grid-col-end: 8; }
.wge-9 { --grid-col-end: 9; }
.hge-1 { --grid-row-end: 1; }
.hge-2 { --grid-row-end: 2; }
.hge-3 { --grid-row-end: 3; }

@media screen and (max-width: $medium) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sw-v-align{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: $small) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 100px;
    grid-gap: 10px;
  }
  .swg { grid-column: 1 / 3; }
}