@import "./config.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: Work Sans;
  font-style: normal;
}

.App {
  background-color: $back-main;
}

.container {
  width: 84%;
  max-width: 1200px;
  margin:0 auto;
}

@media screen and (max-width: $medium) {
  .container-sw {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sw-v-align{
    display: flex;
    align-items: center;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.h-align
{
  margin: 0 auto;
}
.v-align
{
  display: flex;
  align-items: center;
}
.no-border{
  border: none;
}

.w-6{
  float: left;
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
