//z-index
$navbar-index: 10;

//screen sizes
$large: 1280px;
$medium: 912px;
$small: 768px;
$tiny: 480px;

//color
$back-main: #FBFBFB;
$hover-main:#C0C0C0;

$mainColor: #5A368D;
$secondColor: #7C24F8;

:root {
  --grid-col-start: 0;
  --grid-col-end: 0;
  --grid-row-start: 0;
  --grid-row-end: 0;
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

@mixin btn-arrow {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 90%;
  color: $secondColor;
  @include text-shadow(0, 1, 10, rgba(90,56,141,.2));
  &::before {
    content: "\2192";
    margin-right: 15px;
    font-family: monospace;
    font-size: 40px;
    margin-top: -2px;
  }
  &:hover {
    cursor: pointer;
  }
}

@mixin caption{
  display:flex;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 143%;
  letter-spacing: -0.025em;
  color: $mainColor;
  &::before{
    height: 3px;
    display: flex;
    position: relative;
    top: 0.7em;
    width: 30px;
    background: $mainColor;
    content: '';
    margin-right: 15px;
  }
}