@import './config.scss';

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color:#7C24F8;
  box-shadow: none;
  width:100%;
  margin-top: 150px;
}
a {
  color: white;
}

.footer .container {
  margin-top: 150px;
}

ul{
  list-style: none;
}

.footer-leftbar{
  float: left;
  width: 58%;
}

.footer-rightbar{
  float: right;
  width: 37%;
  display: flex;
}

.caption {
  font-weight: 500;
  font-size: 62px;
  line-height: 122.5%;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 1);
}

.footer-leftbar-together{
  line-height: 122.5%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-leftbar-connect{
  line-height: 140%;
  display: flex;
  align-items: bottom;
}
.footer-leftbar-email-box{
  display: flex;
  align-items: center;
}
.footer-leftbar-email-input{
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  //border-bottom: 2px solid #FFF;
  box-shadow: -5px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  box-sizing: border-box;   
  color: white;
  width: 209px;
  height: 40px;
  margin-right: 25px;
}
.footer-leftbar-email-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer-leftbar-email-arrow{
  font-family: monospace;
}

.footer-leftbar-email-arrow:hover{
  cursor: pointer;
  color: rgba(200, 200, 200, 0.8);
}

.ul-box {
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin: 11px auto;
  line-height: 29px;
  /* or 181% */
  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.75;
}
li.footer-ul-header{
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #FFFFFF;

}

.footer-bottom{
  margin-bottom: 60px;
  li {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 24px;
  }
  ul{
    display: flex;
  }
}

@media screen and (max-width: 1020px)
{
  .footer-bottom{
    li {
      padding-right: 0px;
    }
  }
}

@media screen and (max-width: $medium) {
  .footer .container {
    margin-top: 100px;
  }
  .footer-bottom{
    li {
      padding-right: 24px;
    }
  }
  .footer-top .footer-rightbar {
    margin-top: 90px;
  }
  .footer-bottom .footer-rightbar {
    margin-bottom: 34px;
  }
  .sw-12 {
    width: 100%;
  }
  .caption {
    font-weight: 500;
    font-size: 46px;
    line-height: 122%;
    /* or 56px */
    letter-spacing: -0.04em;
  }
  .footer-bottom{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 32px;
    .footer-leftbar {
      order: 2;
    }
    .footer-rightbar {
      order: 1;
    }
  }
}

@media screen and (max-width: 360px) {
  .footer-bottom{
    li {
      padding-right: 0px;
    }
  }
}