@import './config.scss';

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 100px;
}
span,h2{
  margin:0;
}

.section-line {
  margin-left: 25%;
  font-family: Work Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 143%;
  /* or 31px */
  display: flex;
  letter-spacing: -0.025em;

  color: #202020;
}

.section-line::before {
  height: 1px;
  display: flex;
  position: relative;
  top: 0.7em;
  width: 30px;
  background: #808080;
  /* border-right: 1px white; */
  content: '';
  left: -15px;
}

.hero-caption h2{
  width: 60%;
  margin-top: 15px;
  margin-left: 12.5%;
  font-weight: 600;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -5px;
  text-align: left;

  color: #000000;
  .business {
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -5px;
    color: #5a368d;
  }
}
.hero-description {
  width: 35%;
  margin-top: 90px;
  margin-left: 50%;
  margin-bottom: 50px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: rgba(25, 42, 89, 0.7);
}
.hero-features {
  margin-left: 50%;
  display: flex;
}
.hero-features button:first-child {
  margin-right: 60px;
}
.hero-features button {
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 90%;
  /* identical to box height, or 18px */
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
  color: #7C24F8;

  text-shadow: 0px 1px 10px rgba(90, 54, 141, 0.2);
  :hover {
    cursor: pointer;
  }
}

.hero-social-links {
  display:flex;
  flex-direction: column;
  transform: translateY(-85%);
  position: absolute;
}

.hero-features button::before {
  content: "\2192";
  margin-right: 15px;
  font-family: monospace;
  font-size: 40px;
  margin-top: -5px;
}

.hero-img {
  margin-top: 90px;
  background-image: url('../assets/images/smartworks.jpg');
  background-size: cover;
  background-position: center;
  width: 1200px;
  height: 506px;
}

@media screen and (max-width: $small) {
  .hero {
    margin-top: 60px;
  }
  .section-line {
    margin-left: 12.5%;
  }
  .hero-caption h2, .hero-description, .hero-features {
    margin-left: 0;
  }
  .hero-caption h2{
    width: 100%;
    font-size: 62px;
    margin-top: 50px;
    .business {
      font-size: 62px;
    }
  }
  .hero-social-links {
    display: none;
  }
  .hero-description{
    margin-top:70px;
    width: 100%;
  }
  .hero-features button:first-child{
    margin-right: 37px;
  }
  .hero-img {
    width: 1200px;
    height: 400px;
  }
}
