@import './config.scss';
.pos{
  position:absolute;
  pointer-events: none;
  background-color: $mainColor;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  z-index: 15;
  margin-left: -6px;
  margin-top: -6px;
  transition: all .2s;
}
.pos-active{
  opacity: 20%;
  width:50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}