@import '../config.scss';

.clients {
  display: flex;
  justify-content: center;
}

.clients-content{
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  a{
    margin: 25px 15px;
    img {
      filter: grayscale(100%);
      
    }
    &:hover{
      color: $secondColor;
      background: radial-gradient(50% 50% at 47.75% 57.25%, rgba(124, 36, 248, 0.25) 0%, rgba(196, 196, 196, 0) 100%)
    }
  }
}

@media screen and (max-width: $small) {
  .clients-content {
    margin-top: 40px;
  }
}
