@import '../config.scss';

.hero {
  padding-top: 100px;
  overflow: hidden;
  span,h2{
    margin:0;
  }
  
  .section-line {
    margin-left: 12.5%;
    @include caption;
    color: black;
  }
  
  .hero-caption h2{
    margin-top: 15px;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -5px;
    text-align: left;
    color: #000000;

    .business {
      font-weight: 600;
      font-size: 96px;
      line-height: 100%;
      letter-spacing: -5px;
      color: #5a368d;
    }
  }
  .hero-description {
    max-width: 440px;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.015em;
    color: rgba(25, 42, 89, 0.7);
  }
  .hero-features {
    display: flex;
  }
  .hero-features button:first-child {
    margin-right: 60px;
  }
  .hero-features button {
    padding: 0;
    @include btn-arrow;
  }
  .hero-img {
    margin: 0 auto;
    margin-top: 90px;
    background-image: url('../../assets/images/smartworks.jpg');
    background-size: cover;
    background-position: center;
    margin-left:50%;
    transform: translate(-50%,0);
    width: 1200px;
    height: 506px;
  }
  
  @media screen and (max-width: $small) {
    .hero {
      margin-top: 60px;
    }
    .section-line {
      margin-left: 12.5%;
    }

    .hero-caption h2{
      font-size: 62px;
      margin-top: 50px;
      .business {
        font-size: 62px;
      }
    }
    .hero-social-links {
      display: none;
    }
    .hero-description{
      margin-top:70px;
    }
    .hero-features button:first-child{
      margin-right: 37px;
    }
    .hero-img {
      width: 948px;
      height: 400px;
    }
  }
  
}
