@import '../config.scss';
.ourproject {
  padding-top: 150px;
  padding-bottom: 125px;
  overflow: hidden;
  position: relative;
  .capt{
    @include caption;
  }
  .desc{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.015em;
    color: #5E6A8B;
  }
  .title {
    font-weight: 500;
    font-size: 62px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #000000;
  }
  .gallery {
    margin-top: 70px;
    .gallery-desc {
      max-width: 277px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: -0.015em;
      color: #5E6A8B;
    }
    .gallery-view {
      margin-top:50px;
      @include btn-arrow;
    }
  }
}



@media screen and (max-width:$small) {
  .ourproject {
    padding-top: 100px;
    .title{
      margin-top: 70px;
      font-size: 48px;
    }
    .gallery .gallery-desc {
      max-width: 100%;
      margin-top: 50px;
    }
  }
}
