@import '../config.scss';

.service-card {
  margin-top: 80px;
  .card-icon {
    display: flex;
    align-items: bottom;
    width: 55px;
    height: 55px;
  }
  .card-title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    letter-spacing: -1px;
  }
  .card-description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #B8B8B8;
    letter-spacing: -0.015em;
  }
  &:hover {
    .card-icon {
      filter: brightness(0%) saturate(100%) invert(19%) sepia(54%) saturate(7488%) hue-rotate(263deg) brightness(96%) contrast(103%);
    }
    .card-title {
      color: $secondColor;
    }
    .card-description{
      color: white;
    }
  }
  &:nth-child(1) {
    width: 206px;
  }
  &:nth-child(2) {
    width: 271px;
  }
  &:nth-child(3) {
    width: 196px;
  }
}

@media screen and (max-width:$small) {
  .service-card {
    width:100%;
  }
}
