@import '../config.scss';
.success {
  padding-top: 150px;
  padding-bottom: 160px;
  .success-right {
    justify-content: space-between;
    flex-flow: column;
    display: flex;
  }
  .why {
    @include caption;
  }
  .unsure {
    margin-top: 40px;
    font-weight: 500;
    font-size: 62px;
    line-height: 90%;
    /* or 76px */

    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    color: #000000;
  }
  .success-right .desc {
    width: 275px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #5E6A8B;
  }
  button {
    margin-top: 35px;
    @include btn-arrow;
  }
}

.stories {
  display: flex;
  flex-flow: row  wrap;
  justify-content: space-around;
  margin-top: 80px;
  .story {
    margin-top: 80px;
    .eval {
      font-weight: 600;
      font-size: 62px;
      line-height: 130%;
      /* or 81px */
  
      display: flex;
      align-items: center;
      letter-spacing: -1px;
  
      color: #5A368D;
  
    }
    .title {
      padding-top: 30px;
      font-weight: 700;
      font-size: 22px;
      line-height: 143%;
      /* or 31px */
  
      letter-spacing: -0.025em;
  
      color: black;
    }
    .desc {
      margin-top: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: -0.02em;
  
      color: #5E6A8B;
    }
    &:hover {
      .title {
        color: #5A368D
      }
      .desc {
        color: black;
      }
    }
    &:nth-child(1) {
      width: 241px;
    }
    &:nth-child(2) {
      width: 246px;
    }
    &:nth-child(3) {
      width: 237px;
    }
  }
  
}

@media screen and (max-width: $small) {
  .success {
    .success-right {
      .desc {
        margin-top: 30px;
        width: 100%;
      }
      .pricing {
        margin-top: 50px;
      }
    }
    .unsure {
      font-size: 46px;
    }
    
  }
  .stories .story{
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2) {
      width: 100%;
    }
    &:nth-child(3) {
      width: 100%;
    }
  }
}