@import '../config.scss';
.top{
  .top-caption{
    @include section-header(531px, left);
    margin-top: 70px;
  }
  .top-description{
    margin-top: 50px;
    .title{
      @include caption;
    }
    .description{
      margin-top: 25px;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      display: flex;
      align-items: center;
      color: rgba(25, 42, 89, 0.7);
    }
  }
  .plan.grid-layout {
    margin: 80px 0px 120px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row: auto;
    grid-gap: 30px;
    height: 680px;
    align-items: center;
  }
}

@media screen and (max-width: 768px){
  .plan.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}